@using TiendaDeMusica.Models
@model IEnumerable<Album>

@{
    ViewBag.Title = "Index";
}

<span class="sampleName">Info albums</span>

@(Html.EJ().Grid<Album>("AlbumGrid")
        .Datasource(Model)
        .AllowPaging()
        .PageSettings(p => p.PageSize(10))
        .AllowResizeToFit()
        .Locale("es-ES")
        
        //.HtmlAttributes(new { @class = "container-fluid" })
        .Columns(c =>
        {
            c.Field(model => model.AlbumId).HeaderText("ID").Add();
            c.Field(model => model.Titulo).Add();
            c.Field(model => model.ArtistaId).HeaderText("Artista").ForeignKeyField("ArtistaId").ForeignKeyValue("Nombre").DataSource((IEnumerable<Artista>)ViewBag.Artistas).Add();
            c.Field(model => model.GeneroId).HeaderText("Genero").ForeignKeyField("GeneroId").ForeignKeyValue("Nombre").DataSource((IEnumerable<Genero>)ViewBag.Generos).Add();
            c.Field(model => model.Precio).Format("{0:C2}").Add();
        })
        .DetailsTemplate("#InfoAlbum")
        .ClientSideEvents(e=>e.DetailsDataBound("detalles"))
)

<script id="InfoAlbum" type="text/x-jsrender">
    <div class="tabcontrol" id="Test">
        <ul>
            <li><a href="#detalles{{:AlbumId}}">Informacion</a></li>
            <li><a href="#canciones{{:AlbumId}}">Canciones</a></li>
        </ul>
        <div id="detalles{{:AlbumId}}">
            <div id="detallesAlbum">

            </div>
        </div>
        <div id="canciones{{:AlbumId}}">
            <div id="cancionesAlbum">

            </div>
        </div>
    </div>
</script>
<script id="columnTemplate" type="text/x-jsrender">
    <img style="height:100%;width:100%;" src="/Content/Albums/{{:AlbumId}}.jpg" alt="{{:AlbumId}}"/>
</script>
<script type="text/javascript">
    function detalles(e) {
        var data = e.data["AlbumId"];
        console.log(e);
        $.ajax({
            url: "/GridRowT/Details",
            data: { key: data },
            dataType: "json",
            success: function (data) {
                console.log(data);
                e.detailsElement.find("#detallesAlbum").ejGrid({
                    dataSource: data.info,
                    allowSelection: false,
                    allowTextWrap: true,
                    columns: [
                        { headerText: "Portada", width: 150, template: "#columnTemplate" },
                        { field: "Texto", headerText: "Informacion" }
                    ]
                });
                e.detailsElement.find("#cancionesAlbum").ejGrid({
                    dataSource: data.canciones,
                    allowSelection: false,
                    columns: [
                        { field: "Nombre", headerText: "Titulo" },
                        { field: "NoPista", headerText: "No de pista" }
                    ]
                });
                e.detailsElement.find(".tabcontrol").ejTab({ selectedItemIndex: 0 });
            },
            error: function (xhr, status) {
                console.log("Ups...");
            },
            complete: function (xhr, status) {
                console.log("Mision complete!")
            }

        })
    }
</script>

