@using TiendaDeMusica.Models
@model IEnumerable<Hospitales>

@{
    ViewBag.Title = "Mapa";
}

<h2>Mapa</h2>

<div class="row" style="height:700px">
    <div class="col-md-3 h-auto">
        <div>
            @(Html.EJ().TreeView("TVHospital")
                .TreeViewFields(s=>s.Datasource(Model).Id("Id").ParentId("PId").Text("Nombre").HasChild("Child").Expanded("Expanded"))
                .LoadOnDemand()
                .ShowCheckbox()                
            )
        </div>
    </div>
    <div class="col-md-9">
        <div id="map" style="min-height:100%;width:100%;">

        </div>
    </div>
</div>

<script>
    var mapa;
    function myMap() {
        mapa = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 18.66, lng: -98.40 },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoiI3m1hvkEcATGxOKsX9zmtaLOssIdCw&callback=myMap"></script>

